<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title [routerLink]="['/home']">DUOC UC</ion-title>
    </ion-toolbar>
  </ion-header>
  <div id="container">
    <h1 id="titulo">Bienvenido!</h1>
    <ion-label>Usuario: {{user.usuario}}</ion-label><br>
    
   
          <ion-avatar id="avatar" #avatar>
            <img
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSGpxDmsfdMrUBmOGfPaDdXFHyRjSEpPCk-YKQwnZYNiiTSuZ3nbdJlbIfKq-xs8c7Q27E&usqp=CAU" />
          </ion-avatar>
          
          <ion-card-content>
            <h1>!Bienvenido a TellevoAPP!</h1>
            <h1>¿Tienes automóvil?</h1><br>
            <ion-button shape="round" [routerLink]="['/si']">Si</ion-button><br>
            <ion-button shape="round" [routerLink]="['/no']">No</ion-button><br>
          </ion-card-content>
          <ion-button (click)="playAvatar()" size="small" shape="round">
            Animar
          </ion-button>
  </div>
</ion-content>
