<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title [routerLink]="['/home']">DUOC UC</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div id="container">
    <ion-card-title>TellevoAPP</ion-card-title> 
    <ion-item>
      <ion-label position="floating">Ingrese cantidad de estudiantes:</ion-label>
      <ion-input type="number" [(ngModel)]="numero"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label position="floating">Ingrese costo por estudiante:</ion-label>
      <ion-input type="number" [(ngModel)]="cantidad"></ion-input>
    </ion-item>
  
    <ion-button  (click)="calcularDinero()"size="small" shape="round">Calcular Dinero</ion-button>
  
    <ion-item *ngIf="resultadoDinero !== null">
      <ion-label>
        Resultado Dinero: {{ resultadoDinero }}
      </ion-label>
    </ion-item>
  
    <ion-item>
      <ion-label position="floating">Porcentaje de propina(opcional):</ion-label>
      <ion-input type="number" [(ngModel)]="propina"></ion-input>
    </ion-item>
  
    <ion-button  (click)="calcularPropina()" size="small" shape="round">Calcular Propina</ion-button>
  
    <ion-item *ngIf="resultadoPropina !== null">
      <ion-label>
        Resultado Propina: {{ resultadoPropina }}
      </ion-label>
    </ion-item>
  </div>
</ion-content>
