<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title [routerLink]="['/login']"  >DUOC UC</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title>DUOC UC</ion-title>
    </ion-toolbar>
  </ion-header>
  <div id="container">

    <ion-card>
  <ion-card-header>
    <ion-card-title> TeLlevoApp</ion-card-title>
    <br>
  </ion-card-header>
  <ion-card-content>
    <ion-list>
      <ion-item>
        <ion-thumbnail slot="start">
          <img alt="Silhouette of mountains"
src="https://img2.freepng.es/20180703/ya/kisspng-computer-icons-user-avatar-user-5b3bafe2381423.1933594815306383062297.jpg"
/>
        </ion-thumbnail>
        <ion-list>
          <li>Conductor:Jose Miguel</li>
          <li>Auto: Nissan</li>
          <li>Patente: 4FG5FR</li>
          <li>Capacidad: 4 personas</li>
          <li>Disponibilidad:2 personas</li>
          <li>Precio por persona:2000</li>
        </ion-list>
      </ion-item>
      <br>
      <br>
      <ion-item>
        <ion-thumbnail slot="start">
          <img alt="Silhouette of mountains"
src="https://e7.pngegg.com/pngimages/78/788/png-clipart-computer-icons-avatar-business-computer-software-user-avatar-child-face.png"
/>
        </ion-thumbnail>
        <ion-list>
          <li>Conductor:Pedro Hernan</li>
          <li>Auto: toyota</li>
          <li>Patente: 3GF5FG</li>
          <li>Capacidad: 4 personas</li>
          <li>Disponibilidad:No hay disponibilidad</li>
          <li>Precio por persona:1500</li>
        </ion-list>
      </ion-item>
      <br>
      <br>
      <ion-item>
        <ion-thumbnail slot="start">
          <img alt="Silhouette of mountains"
src="https://w7.pngwing.com/pngs/26/692/png-transparent-person-woman-female-user-profile-avatar-website-internet-icon.png"
/>
        </ion-thumbnail>
        <ion-list>
          <li>Conductor:Andrea Cali</li>
          <li>Auto: toyota Hilux</li>
          <li>Patente: DF4FG5</li>
          <li>Capacidad: 6 personas</li>
          <li>Disponibilidad:1 Persona</li>
          <li>Precio por persona:2500</li>
        </ion-list>
      </ion-item>
    </ion-list>
  </ion-card-content>
</ion-card>
  </div>  
</ion-content>