<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Datos de ubicación</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title>¡Brindanos tu ubicación!</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="container"><br><br>

    <form [formGroup]="formMapas" (ngSubmit)="onSubmit()">
      <ion-item>
      <input type="text" #inputPlaces id="inputPlaces" formControlName="busqueda">
    </ion-item>
  
        <div>
          <img class="sb-title-icon" src="https://fonts.gstatic.com/s/i/googlematerialicons/location_pin/v5/24px.svg"
            alt="">
        </div>
        <ion-item>
        <input type="text" #inputPlaces placeholder="Direccion" formControlName="direccion" />
      </ion-item>
      <ion-item>
        <input type="text" #inputPlaces placeholder="Edificio, departamento, piso (opcional)" formControlName="referencia" />
      </ion-item>
      <ion-item>
        <input type="text" #inputPlaces placeholder="Ciudad" class="ciudad" formControlName="ciudad" />
      </ion-item>
      <ion-item>
        <input type="text" #inputPlaces placeholder="Provincia" formControlName="provincia" />
      </ion-item>
      <ion-item>
        <input type="text" #inputPlaces placeholder="Region" formControlName="region" />
      </ion-item>
  
        <ion-button class="button-cta" type="submit" [routerLink]="['/no']">Guardar</ion-button>
  
      <div class="mapa" #divMap></div>
    </form>
  </div>
</ion-content>